.authBackdrop{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/authBG.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.authContainer{
    position: absolute;
    top: calc(25% - 30px);
    left: calc(25% - 50px);
    border-radius: 10px;
    background-color: #1F1F1F;
    min-width: 320px;
    width: 50%;
    height: 50%;
    padding: 15px 25px;
}

.title{
    font-size: 38px;
    font-weight: 500;
}

.signImg{
    width: 400px;
    margin: 70px auto 0 auto;
    
}