.header{
    background-color: #1A1A1A;
    padding: 15px 0;
    border-bottom-left-radius: 35%; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoText{
    font-size: 32px;
    cursor: pointer;
}

.logoTextSpan{
    display: inline-block;
    transition: color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logoText:hover .logoTextSpan{
    transform: rotate(-15deg);
    color: #3F8CFF;
}

.navList{
    display: flex;
}

.navItem{
    font-size: 18px;
}

.navItem + .navItem{
    margin-left: 22px;
}

.navLink{
    text-decoration: none;
    transition: color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    font-weight: 300;
}

.navLink::after{
    content: '';
    height: 0px;
    width: 100%;
    background-color: #3F8CFF;
    position: absolute;
    left: 0;
    top: 100%;
}

.navItem:hover .navLink::after{ 
    height: 2px;
}

.plug{
    height: 78px;
    margin-top: -78px;
}